
body {
  background-color: white;
}

h1 {
  color: black;
}

h2 {
  color: red;
}

p {
  color: black;
}


search-button {
  border-radius: 5px; 
}


form {
  width: 230 px;
  disply: inline-block;
  text-align : right;
}

.inputBox label{
 
 text-align : left;
 float: left;

}


.inputBox input{
 margin-left : 32px;
}
